apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-udemx
  namespace: {{ .Values.namespace }}
  labels:
    app: hello-udemx
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: hello-udemx
  template:
    metadata:
      labels:
        app: hello-udemx
    spec:
      containers:
      - name: nginx
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - name: http
          containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html
        configMap:
          name: hello-udemx-html