- name: Apt cache update
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Basic package installation
  apt:
    name:
      - sudo
      - mc
      - htop
      - curl
    state: present