- name: Create ssh-keys directory on host
  file:
    path: /vagrant/ssh-keys
    state: directory
    mode: '0700'
  delegate_to: localhost
  become: no
  run_once: true

- name: Generate SSH key for tenyedi
  openssh_keypair:
    path: /vagrant/ssh-keys/tenyedi_key
    type: rsa
    size: 4096
    state: present
    force: no
  delegate_to: localhost
  become: no
  run_once: true

- name: Generate SSH key for udemx
  openssh_keypair:
    path: /vagrant/ssh-keys/udemx_key
    type: rsa
    size: 4096
    state: present
    force: no
  delegate_to: localhost
  become: no
  run_once: true

- name: Add own user
  ansible.builtin.user:
    name: tenyedi
    shell: /bin/bash
    create_home: yes
    groups: sudo
    password: "{{ 'Alma1234' | password_hash('sha512') }}"
    state: present

- name: Add udemx user
  ansible.builtin.user:
    name: udemx
    shell: /bin/bash
    create_home: yes
    home: /opt/udemx
    groups: sudo
    password: "{{ 'Alma1234' | password_hash('sha512') }}"
    state: present

- name: Read tenyedi SSH public key
  ansible.builtin.slurp:
    src: /vagrant/ssh-keys/tenyedi_key.pub
  register: tenyedi_pubkey
  delegate_to: localhost
  become: no
  run_once: true

- name: Read udemx SSH public key
  ansible.builtin.slurp:
    src: /vagrant/ssh-keys/udemx_key.pub
  register: udemx_pubkey
  delegate_to: localhost
  become: no
  run_once: true

- name: Add SSH key for user tenyedi
  ansible.builtin.authorized_key:
    user: tenyedi
    state: present
    key: "{{ tenyedi_pubkey.content | b64decode }}"

- name: Add SSH key for user udemx
  ansible.builtin.authorized_key:
    user: udemx
    state: present
    key: "{{ udemx_pubkey.content | b64decode }}"