apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main-ingress
  namespace: udemx
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - hello.udemx.local
    - incidents.udemx.local
    secretName: tls-secret
  rules:
  - host: hello.udemx.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: hello-udemx-service
            port:
              number: 80
  - host: incidents.udemx.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: application-incident-logger-frontend
            port:
              number: 80