---
- name: Deploy Incident Logger application to K3s
  hosts: all
  become: yes
  vars:
    chart_name: "{{ chart_name | default('incident-logger-chart') }}"
    chart_path: "{{ chart_path | default('/path/to/chart') }}"
    frontend_image: "{{ frontend_image }}"
    frontend_tag: "{{ frontend_tag }}"
    backend_image: "{{ backend_image }}"
    backend_tag: "{{ backend_tag }}"
    namespace: "{{ namespace | default('default') }}"

  tasks:
    - name: Deploy Helm chart with updated images
      shell: |
        helm upgrade --install {{ chart_name }} {{ chart_path }} \
          --namespace {{ namespace }} \
          --create-namespace \
          --set frontend.image.repository={{ frontend_image }} \
          --set frontend.image.tag={{ frontend_tag }} \
          --set backend.image.repository={{ backend_image }} \
          --set backend.image.tag={{ backend_tag }} \
          --wait \
          --timeout 5m
      environment:
        KUBECONFIG: /etc/rancher/k3s/k3s.yaml

    - name: Get deployment status
      shell: kubectl get pods -n {{ namespace }} -o wide
      environment:
        KUBECONFIG: /etc/rancher/k3s/k3s.yaml
      register: deployment_status

    - name: Display deployment status
      debug:
        msg: "{{ deployment_status.stdout_lines }}"
